@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }

  .img-full-w-curve {
    @apply absolute top-0 left-0 h-full w-full overflow-hidden rounded-md md:w-[50vw] md:rounded-none lg:w-[55vw] 2xl:w-full;
  }
  /* Image full-w curve */
  .img-full-w-curve--right {
    @apply img-full-w-curve md:rounded-l-3xl;
  }
  .img-full-w-curve--left {
    @apply img-full-w-curve md:right-[0] md:ml-auto md:rounded-r-3xl 2xl:right-0;
  }

  .ej-form-input {
    @apply rounded-sm rounded-t-lg border-0 border-b-2 border-gray-400  bg-slate-100 text-primary-800 outline-0 transition-colors duration-300 placeholder:text-slate-400 focus:border-primary-400 focus:shadow-sm  focus:shadow-slate-200  focus:outline-offset-2 focus:ring-0;
  }
  .ej-form-input-error {
    @apply border-red-600 duration-500 focus:border-red-700;
  }

  .children-h-full * {
    @apply !h-full;
  }
  .children-w-full * {
    @apply !w-full;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
  .skeleton {
    position: relative;
    overflow: hidden;
    background-color: #d0d6df;
  }
  .skeleton::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0)
    );
    animation: shimmer 2s infinite;
    content: '';
  }
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

/* width */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  padding: 0px 4px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #cfcfcf;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
